<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">



    <!-- 处理器handler -->
    <bean id="controller1"  class="com.beitie.handler.UserInfoHandler"></bean>
    <!-- 处理映射器 -->
    <!-- 1.根据bean的name进行查找Handler 将action的url配置在bean的name中 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping" >
        <property name="mappings">
            <props>
                <prop key="/queryUserListInfo.action">controller1</prop>
                <prop key="/queryUserListInfo2.action">controller2</prop>
            </props>
        </property>
    </bean>

    <!-- 处理适配器 -->
    <!-- 1.处理器适配器 配置SimpleControllerHandlerAdapter ，要求handler必须实现Controller接口 -->
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

    <!-- 处理器handler -->
    <bean id="controller2"  class="com.beitie.handler.UserInfoHandler2"></bean>
    <!-- 2.简单url映射 -->
   <!-- <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                &lt;!&ndash; /demo1.action /demo2.action  都可以访问到指定的hanler1 &ndash;&gt;
                <prop key="/userInfo.action">userhandler1</prop>
                <prop key="/userInfo2.action">userhandler1</prop>
            </props>
        </property>
    </bean>-->

<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>

    <!-- 处理适配器 -->
    <!-- 1.处理器适配器 配置SimpleControllerHandlerAdapter ，要求handler必须实现Controller接口 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />


    <!-- 2.处理器适配器 配置HttpRequestHandlerAdapter ，要求handler必须实现HttpRequestHandler接口 -->
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

    <!--加载注解类的适配器和映射器-->
    <mvc:annotation-driven conversion-service="conversionServiceDate" validator="customValidator"></mvc:annotation-driven>

    <bean id="conversionServiceDate" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.beitie.convert.DateConvert"></bean>
            </list>
        </property>
    </bean>
    <!--扫描指定的包包括dao，sevice，handler等等-->
    <context:component-scan base-package="com.beitie.handler,com.beitie.util.exception"/>

    <!-- 视图解析器 -->
    <!-- ViewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView" />

        <!-- 前缀：/WEB-INF/jsp/ 后缀：.jsp /WEB-INF/jsp/list.jsp -->
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 配置bean -->
  <!--  <bean   id="userhandler1" class="com.beitie.handler.UserInfoHandler"></bean>
    <bean   id="userhandler2" class="com.beitie.handler.UserInfoHandler2"></bean>-->
    <!--系统异常总解析器只有一个，需要实现HandlerExceptionResolver-->
    <bean class="com.beitie.util.resolver.CustomResolver"></bean>

    <!--配置pojo校验器-->
    <bean id="customValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"></property>
        <property name="validationMessageSource" ref="customValidatorMsg"></property>
    </bean>

    <bean id="customValidatorMsg" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:properties/validator</value>
            </list>
        </property>
        <property name="cacheSeconds" value="120"></property>
        <property name="fileEncodings" value="utf-8"></property>
    </bean>
</beans>