<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       >
       
	<!-- 正式环境需要设置 httpClientFactory-->
	<bean id="officeConverterFactory" class="org.opoo.apps.dv.office.converter.TestGenericConversionConverterFactory">
		<property name="eventDispatcher" ref="eventDispatcher"></property>
		<property name="serviceHostObjectFactory" ref="conversionServiceHostObjectFactory"></property>
		<property name="conversionConfig" ref="officeConversionConfig"></property>
		<property name="conversionStorageService" ref="officeConversionStorageServiceProxy"></property>
	</bean>

	<bean id="conversionServiceHostObjectFactory" class="org.opoo.apps.dv.connector.ServiceHostObjectFactory">
		<property name="connectionParams">
			<util:property-path path="officeConversionConfig.serviceHosts" />
		</property>
	</bean>

	<!--
	<bean id="httpClientFactory" class="org.opoo.apps.dv.connector.HttpClientFactory">
		<property name="httpConnectionManager" ref="conversionHttpConnectionManager" />
	</bean>
	
	<bean id="conversionHttpConnectionManager" 
		class="org.opoo.apps.dv.connector.AppsHttpConnectionManager"/>
	-->
</beans>
