<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       >
       
	<!-- 
	private String file;
	private String contentType;
	private String artifactType;
	private String eventType;
	 -->
	<bean id="pdfConverter" class="org.opoo.apps.dv.office.converter.MockOfficeConverter">
		<property name="eventDispatcher" ref="eventDispatcher"></property>
		<property name="file" value="test.pdf"></property>
		<property name="contentType" value="application/pdf"></property>
		<property name="artifactType" value="Pdf"></property>
		<property name="eventType" value="PDF_GENERATED"></property>
	</bean>
	<bean id="swfConverter" class="org.opoo.apps.dv.office.converter.MockOfficeConverter">
		<property name="eventDispatcher" ref="eventDispatcher"></property>
		<property name="file" value="test.swf"></property>
		<property name="contentType" value="application/x-shockwave-flash"></property>
		<property name="artifactType" value="Preview"></property>
		<property name="eventType" value="PREVIEW_PAGE_GENERATED"></property>
	</bean>
	<bean id="imageConverter" class="org.opoo.apps.dv.office.converter.MockOfficeConverter">
		<property name="eventDispatcher" ref="eventDispatcher"></property>
		<property name="file" value="test.jpg"></property>
		<property name="contentType" value="image/jpeg"></property>
		<property name="artifactType" value="Thumbnail"></property>
		<property name="eventType" value="THUMBMATIL_PAGE_GENERATED"></property>
	</bean>
	
	<bean id="officeConverterFactory" class="org.opoo.apps.dv.converter.DefaultConverterFactory">
		<property name="converters">
			<util:map map-class="java.util.concurrent.ConcurrentHashMap">
				<entry key="Pdf" value-ref="pdfConverter"></entry>
				<entry key="Preview" value-ref="swfConverter"></entry>
				<entry key="Thumbnail" value-ref="imageConverter"></entry>
			</util:map>
		</property>
	</bean>
</beans>
