<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
       >

    
    <import resource="spring-dv-jive-modules-docconverter.xml"/>
    
    <!-- converter factory v1 -->
    <bean id="officeConverterFactory" class="org.opoo.apps.dv.office.converter.jive.JiveCommandExecutorConverterFactory">
    	<property name="eventDispatcher" ref="eventDispatcher"></property>
    	<property name="executorsMap" ref="executorsMap"></property>
    </bean>
    
    
    <!-- converter factory v2 -->
    <bean id="executorsConverter" class="org.opoo.apps.dv.office.converter.jive.JiveCommandExecutorsConverter" scope="prototype">
    	<property name="eventDispatcher" ref="eventDispatcher"></property>
    	<property name="executorsMap" ref="executorsMap"></property>
    </bean>
    
    <bean id="officeConverterFactoryV2" class="org.opoo.apps.dv.converter.SpringConverterFactory">
    	<property name="useCache" value="true"></property>
    	<property name="converterBean" value="executorsConverter"/>
    </bean>
    
</beans>
