<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
       >
       
	<bean id="magicMimeTypeIdentifier" class="org.semanticdesktop.aperture.mime.identifier.magic.MagicMimeTypeIdentifier">
		<constructor-arg value="/mimetypes.xml"></constructor-arg>
	</bean>
	
	<bean id="mimeTypeManagerImpl" class="org.opoo.conversion.impl.MimeTypeManagerImpl">
		<property name="magicMimeTypeIdentifier" ref="magicMimeTypeIdentifier"></property>
	</bean>
	
	<bean id="conversionManagerImpl" class="org.opoo.conversion.impl.ConversionManagerImpl">
		<property name="mimeTypeManager" ref="mimeTypeManagerImpl"></property>
	</bean>
</beans>