<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:du="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--  应用服务的名字  -->
    <dubbo:application name="service_provider_8001"></dubbo:application>
    <!-- 服务的注册 -->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1"></dubbo:registry>
    <!-- 服务的协议 -->
    <dubbo:protocol name="dubbo"  port="20880"></dubbo:protocol>
</beans>