<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       					
       					
	<bean id="struts2Configurator" class="org.opoo.apps.module.configurators.Struts2Configurator">
		<property name="eventDispatcher" ref="eventDispatcher"></property>
	</bean>	
	
	<bean id="emptyModuleConfigurator" class="org.opoo.apps.module.configurators.EmptyModuleConfigurator"></bean>
	
	<bean id="sitemeshConfigurator" class="org.opoo.apps.module.configurators.SitemeshConfigurator"></bean>		
	
	<bean id="moduleManager" class="org.opoo.apps.module.ModuleManagerImpl"
	 	 depends-on="appsGlobals" destroy-method="destroy"  factory-method="getInstance">
        <property name="configurators">
        	<list>
        		<ref bean="emptyModuleConfigurator"/>
            	<ref bean="struts2Configurator"/>
            	<ref bean="sitemeshConfigurator"/>
        	</list>
        	
        	<!-- 
            <util:list>
                <ref bean="cacheConfigurator" />
                <ref bean="databaseConfigurator" />
                <ref bean="strutsConfigurator" />
                <ref bean="uiComponentConfigurator" />
                <ref bean="macroConfigurator" />
                <ref bean="rendererConfigurator" />
                <ref bean="javascriptURLConfigurator" />
                <ref bean="cssUrlConfigurator" />
                <ref bean="urlMapperConfigurator" />
                <ref bean="springConfigurator" />
                <ref bean="widgetConfigurator" />
                <ref bean="sitemeshConfigurator" />
                <ref bean="emailTemplateConfigurator" />
            </util:list>
            -->
        </property>
       
        <property name="licenseManager" ref="licenseManager" />
	</bean>
    
    
	
</beans>

